<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885112900863-c93g3smkmn4eplvvscp4icutlrktt86k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885112900863-c93g3smkmn4eplvvscp4icutlrktt86k</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHBy2Qj6dFteHcYK2_eanGV78lYSg1qk</string>
	<key>GCM_SENDER_ID</key>
	<string>885112900863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>kring-kring-bike</string>
	<key>STORAGE_BUCKET</key>
	<string>kring-kring-bike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885112900863:ios:089a3f87932b30c6f010ca</string>
</dict>
</plist>